h1{
  background-image: linear-gradient(#5a90a5, WHITE);
  color:white;
  text-align: center;
  color: #000e30;
  padding:20px;
  padding-bottom: 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 1000%;
}
.card-body {
  min-height: 100px;
}


.card-footer {
  text-align: center;
}
.cards{
  padding-top: 10px;
  padding-left:70px;
  padding-right:70px;
  
  align-items: center;
  display: flex;
  justify-content: center;
  
}
.main{
  margin-left: 25%;
  border-width:3px;
  
  
  margin-bottom: 10%;
  
  
}

.card {
  font-weight: bold;
  border-radius: 5px;
  border-width: 1px;
  width: 15%;
  
  margin: 10px;
  color: white;
  font-size: 18px;
  background-color: darkslategray;
  padding:10px 10px 10px 5px;
  border-width:3px;
  border-style:solid; 
  border-color:#A56F5A;
  align-items: left;
  
}
.sidebtn{
  border-color: #000e30;
  border-width: 5px;
  width:100%;
  height:10%;
  background-color:rgb(5, 68, 104);
}
.container{
  background-color: #5a90a5;
  width:75%;
  height:50%;
  border-width:3px;
  border-style:solid; 
  border-color:#A56F5A;
  border-radius: 100px;
  padding: 30px;
  margin-top: 10px;
  
}
.entrbtn{
  background-color:#5a90a5;
  bottom:30px;
  position:relative;
  
}
.data{
  font-weight: bold;
  font-size: 25px;
}
#searchbar{
  background-color: #5a90a5;
  width:50%;
  margin-bottom:10px;
  bottom:30px;
  margin-left: 15%;
  position:relative;
}
::placeholder{ 
  color:#000e30;
}
.sidebar{
  background: rgb(5, 68, 104);
  position:absolute;
  width:25%;
  top: 32%;
  margin-left: 10px;
  display: block;
  padding-top:6%;
  height:50%;
  border-radius: 100px;
  align-items: center;
  transition: all 0.5s ease;
  min-width: 250px;
 
}
.w3-bar-item{
  display:block;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
